@media screen and (min-width:360px) and (max-width:640px){
    body{
        width: 100%;
    }
}
.line{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 50px;
    font-size: 40px;
}
.parent{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.box1{
    border: red solid 1px;
    border-radius: 8px;
    width: 150px;
    height:350px;
    padding-left: 35px;
    margin-left: 17%;
    box-shadow: 5px 5px 5px gray;
}
.box2{
    border: red solid 1px;
    border-radius: 8px;
    width: 150px;
    height:350px;
    padding-left: 35px;
    box-shadow: 5px 5px 5px grey;
}
.box3{
    border: red solid 1px;
    border-radius: 8px;
    width: 150px;
    height:350px;
    padding-left: 35px;
    margin-right: 17%;
    box-shadow: 5px 5px 5px grey;
}
.options{
    color: red;
    font-size: 25px;
}
.options1{
    color: red;
    font-size: 25px;
}
.del{
    text-decoration: line-through 3px;
    color: red;
    font-size: 20px;
    stroke-width: 50pt;
}
.del1{
    text-decoration: line-through 3px;
    color: red;
    font-size: 20px;
    stroke-width: 50pt;
}
@media screen and (min-width:360px) and (max-width:640px){
    .parent{
        display:flex;
        flex-direction: column;
        justify-content: left;
    }
} 
@media screen and (min-width:360px) and (max-width:640px){
    .box{
        border: red solid 1px;
        border-radius: 8px;
        width: 300px;
        height:50px;
        box-shadow: 5px 5px 5px gray;
        text-align: left;
        margin-bottom: 25px;
    }
}  
@media screen and (min-width:360px) and (max-width:640px){
    .box1{
        margin-left: 0px;
    }
} 
@media screen and (min-width:360px) and (max-width:640px){
    .del{
        display:none;
    }
} 
@media screen and (min-width:360px) and (max-width:640px){
    .task{
        display:none;
    }
}
@media screen and (min-width:360px) and (max-width:640px){
    .hr-rm{
        display:none;
    }
}
@media screen and (min-width:360px) and (max-width:640px){
    .rm{
        display:none;
    }
}
@media screen and (min-width:360px) and (max-width:640px){
    .add_list{
        display:none;
    }
}
@media screen and (min-width:360px) and (max-width:640px){
    .options{
        color: black;
        font-size: 16px;
        font-family:Arial, Helvetica, sans-serif;
    }
}
   
/*index2 file css*/
.pg2{
    text-align: center;
}
.head1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.text{
    margin-top: 50px;
    font-size: 40px;
    position:relative;
    
}

.hr-line{
    width: 20%;
    margin:2px;
    position: relative;

    border-bottom: 1px solid #000;
}
@media screen and (min-width:360px) and (max-width:640px){
    .hr-line{
        display: none;
    }
}
.trip{
    position: relative;
    text-align: center;
    border: red solid 1px;
    border-radius: 8px;
    width: 400px;
    height:350px;
    box-shadow: 5px 5px 5px gray;

}
@media screen and (min-width:360px) and (max-width:640px){
    .trip{
        width:260px;
        height: 380px;
    }
}
.hr-line1{
    width: 80%;
    margin-left:20%;
    position: relative;
    border-bottom: 1px solid #000;
}

.add{
    position: absolute;
    text-align: center;
    font-size: 30px;
    top:280px;
    left:320px;
}
@media screen and (min-width:360px) and (max-width:640px){
    .add{
        position: absolute;
        left:200px;
        top:320px;
    }
}

@media screen and (min-width:360px) and (max-width:640px){
    .back{
        display: none;
    }
}
@media screen and (min-width:360px) and (max-width:640px){
    .back_sign{
        position: absolute;
        top:65px;
        left:50px;
        font-size: 35px;
    }
}
